# Java related
target/**
*.war
*.ear
*.
dependency-reduced-pom.xml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/java-formatter.xml

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin/
/target/
